<nav class="nav">
  <div class="nav-left">
    <div class="field">
      <p class="control has-icons-right">
        <input type="text" class="search-bar" placeholder="Buscar Pokémon por número o nombre…" />
        <span class="icon is-small is-right">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <a class="nav-item">
      Mis Pokémon favoritos
    </a>
  </div>
</nav>