footer.footer {
  padding: 10px;
  font-size: 0.8em;
  color: #fff;
  background-color: #DC092E;

  p {
    color: #fff;
  }
}

.pokedex-container {
  width: 100%;
  text-align: right;
  padding-left: 45px;
  padding-right: 45px;

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}